@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-Obl.woff2') format('woff2'),
        url('HelveticaLTStd-Obl.woff') format('woff'),
        url('HelveticaLTStd-Obl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-LightCond.woff2') format('woff2'),
        url('HelveticaLTStd-LightCond.woff') format('woff'),
        url('HelveticaLTStd-LightCond.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-UltLt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-UltLt.woff') format('woff'),
        url('HelveticaNeueLTStd-UltLt.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-BdCn.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BdCn.woff') format('woff'),
        url('HelveticaNeueLTStd-BdCn.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-ThCnO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-ThCnO.woff') format('woff'),
        url('HelveticaNeueLTStd-ThCnO.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-BdIt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BdIt.woff') format('woff'),
        url('HelveticaNeueLTStd-BdIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-UltLtEx.woff2') format('woff2'),
        url('HelveticaNeueLTStd-UltLtEx.woff') format('woff'),
        url('HelveticaNeueLTStd-UltLtEx.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-MdExO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-MdExO.woff') format('woff'),
        url('HelveticaNeueLTStd-MdExO.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-MdCn.woff2') format('woff2'),
        url('HelveticaNeueLTStd-MdCn.woff') format('woff'),
        url('HelveticaNeueLTStd-MdCn.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-LightObl.woff2') format('woff2'),
        url('HelveticaLTStd-LightObl.woff') format('woff'),
        url('HelveticaLTStd-LightObl.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-XBlkCn.woff2') format('woff2'),
        url('HelveticaNeueLTStd-XBlkCn.woff') format('woff'),
        url('HelveticaNeueLTStd-XBlkCn.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-HvExO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-HvExO.woff') format('woff'),
        url('HelveticaNeueLTStd-HvExO.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Bd.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Bd.woff') format('woff'),
        url('HelveticaNeueLTStd-Bd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-BlkCnO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BlkCnO.woff') format('woff'),
        url('HelveticaNeueLTStd-BlkCnO.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-UltraComp.woff2') format('woff2'),
        url('HelveticaLTStd-UltraComp.woff') format('woff'),
        url('HelveticaLTStd-UltraComp.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-BdEx.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BdEx.woff') format('woff'),
        url('HelveticaNeueLTStd-BdEx.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-Bold.woff2') format('woff2'),
        url('HelveticaLTStd-Bold.woff') format('woff'),
        url('HelveticaLTStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Blk.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Blk.woff') format('woff'),
        url('HelveticaNeueLTStd-Blk.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-MdCnO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-MdCnO.woff') format('woff'),
        url('HelveticaNeueLTStd-MdCnO.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-UltLtExO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-UltLtExO.woff') format('woff'),
        url('HelveticaNeueLTStd-UltLtExO.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-LightCondObl.woff2') format('woff2'),
        url('HelveticaLTStd-LightCondObl.woff') format('woff'),
        url('HelveticaLTStd-LightCondObl.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-ThEx.woff2') format('woff2'),
        url('HelveticaNeueLTStd-ThEx.woff') format('woff'),
        url('HelveticaNeueLTStd-ThEx.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-BlkExO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BlkExO.woff') format('woff'),
        url('HelveticaNeueLTStd-BlkExO.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-XBlkCnO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-XBlkCnO.woff') format('woff'),
        url('HelveticaNeueLTStd-XBlkCnO.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-BoldCondObl.woff2') format('woff2'),
        url('HelveticaLTStd-BoldCondObl.woff') format('woff'),
        url('HelveticaLTStd-BoldCondObl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-BlkCondObl.woff2') format('woff2'),
        url('HelveticaLTStd-BlkCondObl.woff') format('woff'),
        url('HelveticaLTStd-BlkCondObl.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-BdOu.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BdOu.woff') format('woff'),
        url('HelveticaNeueLTStd-BdOu.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Ex.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Ex.woff') format('woff'),
        url('HelveticaNeueLTStd-Ex.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-BlkObl.woff2') format('woff2'),
        url('HelveticaLTStd-BlkObl.woff') format('woff'),
        url('HelveticaLTStd-BlkObl.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-ThExO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-ThExO.woff') format('woff'),
        url('HelveticaNeueLTStd-ThExO.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-FractionsBd.woff2') format('woff2'),
        url('HelveticaLTStd-FractionsBd.woff') format('woff'),
        url('HelveticaLTStd-FractionsBd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-Roman.woff2') format('woff2'),
        url('HelveticaLTStd-Roman.woff') format('woff'),
        url('HelveticaLTStd-Roman.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Md.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Md.woff') format('woff'),
        url('HelveticaNeueLTStd-Md.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-BdExO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BdExO.woff') format('woff'),
        url('HelveticaNeueLTStd-BdExO.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-BoldObl.woff2') format('woff2'),
        url('HelveticaLTStd-BoldObl.woff') format('woff'),
        url('HelveticaLTStd-BoldObl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-BdCnO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BdCnO.woff') format('woff'),
        url('HelveticaNeueLTStd-BdCnO.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-LtEx.woff2') format('woff2'),
        url('HelveticaNeueLTStd-LtEx.woff') format('woff'),
        url('HelveticaNeueLTStd-LtEx.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-LtCn.woff2') format('woff2'),
        url('HelveticaNeueLTStd-LtCn.woff') format('woff'),
        url('HelveticaNeueLTStd-LtCn.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-Comp.woff2') format('woff2'),
        url('HelveticaLTStd-Comp.woff') format('woff'),
        url('HelveticaLTStd-Comp.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-BlkIt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BlkIt.woff') format('woff'),
        url('HelveticaNeueLTStd-BlkIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-ThIt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-ThIt.woff') format('woff'),
        url('HelveticaNeueLTStd-ThIt.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-Cond.woff2') format('woff2'),
        url('HelveticaLTStd-Cond.woff') format('woff'),
        url('HelveticaLTStd-Cond.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-MdEx.woff2') format('woff2'),
        url('HelveticaNeueLTStd-MdEx.woff') format('woff'),
        url('HelveticaNeueLTStd-MdEx.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-CnO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-CnO.woff') format('woff'),
        url('HelveticaNeueLTStd-CnO.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-It.woff2') format('woff2'),
        url('HelveticaNeueLTStd-It.woff') format('woff'),
        url('HelveticaNeueLTStd-It.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-BlkCond.woff2') format('woff2'),
        url('HelveticaLTStd-BlkCond.woff') format('woff'),
        url('HelveticaLTStd-BlkCond.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-UltLtCnO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-UltLtCnO.woff') format('woff'),
        url('HelveticaNeueLTStd-UltLtCnO.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-CondObl.woff2') format('woff2'),
        url('HelveticaLTStd-CondObl.woff') format('woff'),
        url('HelveticaLTStd-CondObl.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Lt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Lt.woff') format('woff'),
        url('HelveticaNeueLTStd-Lt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Roman.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Roman.woff') format('woff'),
        url('HelveticaNeueLTStd-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Hv.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Hv.woff') format('woff'),
        url('HelveticaNeueLTStd-Hv.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-ExO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-ExO.woff') format('woff'),
        url('HelveticaNeueLTStd-ExO.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-ExtraComp.woff2') format('woff2'),
        url('HelveticaLTStd-ExtraComp.woff') format('woff'),
        url('HelveticaLTStd-ExtraComp.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-BoldCond.woff2') format('woff2'),
        url('HelveticaLTStd-BoldCond.woff') format('woff'),
        url('HelveticaLTStd-BoldCond.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-HvIt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-HvIt.woff') format('woff'),
        url('HelveticaNeueLTStd-HvIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-Blk.woff2') format('woff2'),
        url('HelveticaLTStd-Blk.woff') format('woff'),
        url('HelveticaLTStd-Blk.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-LtExO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-LtExO.woff') format('woff'),
        url('HelveticaNeueLTStd-LtExO.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Cn.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Cn.woff') format('woff'),
        url('HelveticaNeueLTStd-Cn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-BlkCn.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BlkCn.woff') format('woff'),
        url('HelveticaNeueLTStd-BlkCn.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-HvCn.woff2') format('woff2'),
        url('HelveticaNeueLTStd-HvCn.woff') format('woff'),
        url('HelveticaNeueLTStd-HvCn.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-UltLtIt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-UltLtIt.woff') format('woff'),
        url('HelveticaNeueLTStd-UltLtIt.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-LtIt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-LtIt.woff') format('woff'),
        url('HelveticaNeueLTStd-LtIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-MdIt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-MdIt.woff') format('woff'),
        url('HelveticaNeueLTStd-MdIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-Light.woff2') format('woff2'),
        url('HelveticaLTStd-Light.woff') format('woff'),
        url('HelveticaLTStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-HvCnO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-HvCnO.woff') format('woff'),
        url('HelveticaNeueLTStd-HvCnO.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Th.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Th.woff') format('woff'),
        url('HelveticaNeueLTStd-Th.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-HvEx.woff2') format('woff2'),
        url('HelveticaNeueLTStd-HvEx.woff') format('woff'),
        url('HelveticaNeueLTStd-HvEx.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-BlkEx.woff2') format('woff2'),
        url('HelveticaNeueLTStd-BlkEx.woff') format('woff'),
        url('HelveticaNeueLTStd-BlkEx.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-UltLtCn.woff2') format('woff2'),
        url('HelveticaNeueLTStd-UltLtCn.woff') format('woff'),
        url('HelveticaNeueLTStd-UltLtCn.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-LtCnO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-LtCnO.woff') format('woff'),
        url('HelveticaNeueLTStd-LtCnO.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-ThCn.woff2') format('woff2'),
        url('HelveticaNeueLTStd-ThCn.woff') format('woff'),
        url('HelveticaNeueLTStd-ThCn.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-Fractions.woff2') format('woff2'),
        url('HelveticaLTStd-Fractions.woff') format('woff'),
        url('HelveticaLTStd-Fractions.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

