<%= render 'layouts/header' %>
    <main>
        <section class="banner_section d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="text-white">Marketplace of g toods and services for Cryptocurrency Exchange</h3>
                        <h5 class="text-white mb-lg-4">Buy and Sell Bitcoins & other blockchain assets with ICO Development</h5>
                        <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry’s standard dummy text ever since.</p>
                        <div class="banner_btn">
                            <button class="btn btn-white">JOIN THE TOKEN SALE</button>
                            <button class="btn btn-white">WHITE PAPER</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="dev_section bg-white py-4 py-lg-5">
            <div class="container">
                <div class="dev_information text-center">
                    <h3>What is ICO Development?</h3>
                    <h5 class="mb-lg-4">ICO Development is all about a fun and simple way to earn</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                        and scrambled it to make a type specimen book.</p>
                    <div class="dev_btn mt-lg-4">
                        <a href="javascript:void(0);" class="btn btn-dark">READ WHITEPAPER</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="benfit_section py-4 py-lg-5">
            <div class="container">
                <div class="benfit_information text-center">
                    <h3 class="font-weight-bold m-0">Company Name Ecosystem Benifits</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="benifit_area text-center">
                            <figure>
                                <img src="/assets/f_icon1.png" alt="" />
                            </figure>
                            <div class="w-100 mt-md-4">
                                <h2 class="font-weight-bold">Buyers & Sellers</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                    has been the industry’s standard dummy text ever since.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="benifit_area text-center">
                            <figure>
                                <img src="/assets/f_icon2.png" alt="" />
                            </figure>
                            <div class="w-100 mt-md-4">
                                <h2 class="font-weight-bold">Cars On Rent</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                    has been the industry’s standard dummy text ever since.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="benifit_area text-center">
                            <figure>
                                <img src="/assets/f_icon3.png" alt="" />
                            </figure>
                            <div class="w-100 mt-md-3">
                                <h2 class="font-weight-bold">Service Provider</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                    has been the industry’s standard dummy text ever since.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about_section bg-white py-4 py-lg-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 my-3 my-lg-4">
                        <div class="about_area text-center">
                            <h2 class="font-weight-bold">About</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry’s standard dummy text ever since the 1500s, when an  unknown printer took
                                a galley of type and scrambled it to make.</p>
                        </div>
                    </div>
                    <div class="col-md-6 my-3 my-lg-4">
                        <div class="about_area text-center">
                            <h2 class="font-weight-bold">Our Advantages</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry’s standard dummy text ever since the 1500s, when an  unknown printer took
                                a galley of type and scrambled it to make.</p>
                        </div>
                    </div>
                    <div class="col-md-6 my-3 my-lg-4">
                        <div class="about_area text-center">
                            <h2 class="font-weight-bold">What Do We Do?</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry’s standard dummy text ever since the 1500s, when an  unknown printer took
                                a galley of type and scrambled it to make.</p>
                        </div>
                    </div>
                    <div class="col-md-6 my-3 my-lg-4">
                        <div class="about_area text-center">
                            <h2 class="font-weight-bold">Our Mission</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry’s standard dummy text ever since the 1500s, when an  unknown printer took
                                a galley of type and scrambled it to make.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="paper_section py-4 py-lg-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-5 my-3 my-lg-4 order-md-2">
                        <figure>
                            <img src="/assets/pep_icon.png" alt="" />
                        </figure>
                    </div>
                    <div class="col-md-7 my-3 my-lg-4 order-md-1">
                        <div class="paper_area">
                            <h2 class="font-weight-bold">White Paper</h2>
                            <h3>READ OUR WHITEPAPER TO FIND OUT MORE ABOUT OUR TOKENS</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry’s standard dummy text ever since the 1500s, when an  unknown printer took
                                a galley of type and scrambled it to make.</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry’s standard dummy text ever since the 1500s, when an  unknown printer took
                                a galley of type and scrambled it to make.</p>
                        </div>
                        <div class="paper_btn">
                            <a href="javascript:void(0);" class="btn btn-light d-inline-flex align-items-center">
                                <img src="/assets/pdf.png" alt="" />
                                <span class="text-dark">ICO Whitepaper</span>
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </section>
        <section class="ico_dev_section bg-white pt-4 pt-lg-5">
            <div class="container">
                <div class="dev_step">
                    <div class="about_area w-100 text-center">
                        <h2 class="font-weight-bold m-0">Benifits of ICO Development</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-4 my-3 my-lg-5">
                            <div class="benifit_area text-center">
                                <figure>
                                    <img src="/assets/d_iocn1.png" alt="" />
                                </figure>
                                <div class="w-100 mt-md-5">
                                    <h2 class="font-weight-bold">Simple</h2>
                                    <h5 class="mb-lg-4">Lorem Ipsum is simply dummy text</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                        has been.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 my-3 my-lg-5">
                            <div class="benifit_area text-center">
                                <figure>
                                    <img src="/assets/d_icon2.png" alt="" />
                                </figure>
                                <div class="w-100 mt-md-5">
                                    <h2 class="font-weight-bold">Faster</h2>
                                    <h5 class="mb-lg-4">Lorem Ipsum is simply dummy text</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                        has been.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 my-3 my-lg-5">
                            <div class="benifit_area text-center">
                                <figure>
                                    <img src="/assets/d_icon3.png" alt="" />
                                </figure>
                                <div class="w-100 mt-md-5">
                                    <h2 class="font-weight-bold">Secure</h2>
                                    <h5 class="mb-lg-4">Lorem Ipsum is simply dummy text</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                        has been.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="who_step">
                    <div class="about_area w-100 text-center mb-3">
                        <h2 class="font-weight-bold m-0">Who we are?</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry’s standard dummy.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-3 col-sm-6 my-3">
                            <div class="comp_list h-100 rounded bg-white text-center p-3">
                                <figure class="comp_logo d-flex align-items-center justify-content-center">
                                    <img src="/assets/c-logo.png" alt="" />
                                </figure>
                                <div class="w-100">
                                    <h5 class="m-0">COMPANY NAME</h5>
                                    <p>Lorem Ipsum is simply dummy text</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 col-sm-6 my-3">
                            <div class="comp_list h-100 rounded bg-white text-center p-3">
                                <figure class="comp_logo d-flex align-items-center justify-content-center">
                                    <img src="/assets/c-logo.png" alt="" />
                                </figure>
                                <div class="w-100">
                                    <h5 class="m-0">COMPANY NAME</h5>
                                    <p>Lorem Ipsum is simply dummy text</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 col-sm-6 my-3">
                            <div class="comp_list h-100 rounded bg-white text-center p-3">
                                <figure class="comp_logo d-flex align-items-center justify-content-center">
                                    <img src="/assets/c-logo.png" alt="" />
                                </figure>
                                <div class="w-100">
                                    <h5 class="m-0">COMPANY NAME</h5>
                                    <p>Lorem Ipsum is simply dummy text</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 col-sm-6 my-3">
                            <div class="comp_list h-100 rounded bg-white text-center p-3">
                                <figure class="comp_logo d-flex align-items-center justify-content-center">
                                    <img src="/assets/c-logo.png" alt="" />
                                </figure>
                                <div class="w-100">
                                    <h5 class="m-0">COMPANY NAME</h5>
                                    <p>Lorem Ipsum is simply dummy text</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 col-sm-6 my-3">
                            <div class="comp_list h-100 rounded bg-white text-center p-3">
                                <figure class="comp_logo d-flex align-items-center justify-content-center">
                                    <img src="/assets/c-logo.png" alt="" />
                                </figure>
                                <div class="w-100">
                                    <h5 class="m-0">COMPANY NAME</h5>
                                    <p>Lorem Ipsum is simply dummy text </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 col-sm-6 my-3">
                            <div class="comp_list h-100 rounded bg-white text-center p-3">
                                <figure class="comp_logo d-flex align-items-center justify-content-center">
                                    <img src="/assets/c-logo.png" alt="" />
                                </figure>
                                <div class="w-100">
                                    <h5 class="m-0">COMPANY NAME</h5>
                                    <p>Lorem Ipsum is simply dummy text </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 col-sm-6 my-3">
                            <div class="comp_list h-100 rounded bg-white text-center p-3">
                                <figure class="comp_logo d-flex align-items-center justify-content-center">
                                    <img src="/assets/c-logo.png" alt="" />
                                </figure>
                                <div class="w-100">
                                    <h5 class="m-0">COMPANY NAME</h5>
                                    <p>Lorem Ipsum is simply dummy text </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 col-sm-6 my-3">
                            <div class="comp_list h-100 rounded bg-white text-center p-3">
                                <figure class="comp_logo d-flex align-items-center justify-content-center">
                                    <img src="/assets/c-logo.png" alt="" />
                                </figure>
                                <div class="w-100">
                                    <h5 class="m-0">COMPANY NAME</h5>
                                    <p>Lorem Ipsum is simply dummy text </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact_section pb-5 d-flex flex-wrap w-100">
            <div class="container">
                <div class="main_form mx-auto bg-white p-3 p-md-5">
                    <div class="form_header text-center">
                        <h2 class="font-weight-bold dispaly-4">Contact Us</h2>
                        <p>We are open to all the questions you might want to ask. Giftcoin is being built by ever growing
                            team and partners, so whether you’re interested in working with us or investing, feel free to
                            reach out!</p>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-10">
                            <form>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Last Name" rows="5"></textarea>
                                </div>
                                <button type="submit" class="btn btn-dark btn-block text-uppercase">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="social_connect text-center mt-4 mt-lg-5">
                    <h2 class="text-white font-weight-bold">Got questions? Connect with us on our social channels</h2>
                    <ul class="social_list list-unstyled p-0 d-flex flex-wrap justify-content-center">
                        <li>
                            <a href="javascript:void(0);">
                                <img src="/assets/s1.png" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="/assets/s2.png" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="/assets/s3.png" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="/assets/s4.png" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="/assets/s5.png" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="/assets/s6.png" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="/assets/s7.png" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="/assets/s8.png" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img src="/assets/s9.png" alt="" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="subscribe_section py-4 py-lg-5">
            <div class="container">
                <h2 class="font-weight-bold text-white text-center m-0">ICO Successfully Funded, Thank You!</h2>
                <h5 class="text-white text-center">Be the first to find out about our news, updates and announcements.</h5>
                <div class="w-100 sub_form mt-sm-4">
                    <form class="bg-white p-2 rounded">
                        <div class="input-group">
                            <input type="text" class="form-control border-0" placeholder="Enter Your Email Address">
                            <div class="input-group-append border-0">
                                <!-- <span class="input-group-text"></span>@example.com</span> -->
                                <button class="btn btn-branz btn-sm text-uppercase">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

    </main>
<%= render 'layouts/footer' %>

