    <footer class="bg-white container-fluid py-3 border-top">
        <div class="row align-items-center">
            <div class="col-md-7">
                <div class="quick_links">
                    <ul>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">Privacy Statement</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                        <li>
                            <a href="#">Press</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 text-md-right">
                <ul class="footer_s_list social_list list-unstyled p-0 d-inline-flex flex-wrap justify-content-center">
                    <li>
                        <a href="javascript:void(0);">
                            <img src="/assets/s1.png" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="/assets/s2.png" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="/assets/s3.png" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="/assets/s4.png" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="/assets/s5.png" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="/assets/s6.png" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="/assets/s7.png" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="/assets/s8.png" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <img src="/assets/s9.png" alt="" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-7">
                <p class="copy-right">ICO Project © 2018 - All Rights Reserved.</p>
            </div>
        </div>
    </footer>