<header class="custom_header">
        <nav class="navbar navbar-expand-xl navbar-transparent border-bottom custom_nav">
            <a class="navbar-brand font-weight-bold" href="index.html">ICO Logo</a>
            <div class="head_btn_login my-md-0 order-xl-2 order-md-1">
                <a href="login.html" class="btn btn-outline-light">Login</a>
                <a href="signup.html" class="btn btn-outline-light">Signup</a>
            </div>
            <div class="collapse navbar-collapse order-xl-1 order-md-2" id="navToggle">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">How It Works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">White Paper</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Roadmap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToggle" aria-controls="navToggle" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="icon menu1">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </button>

        </nav>
    </header>